<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta charset="utf-8">
  <title>Play-Wyn-Ready</title>
  <link rel="stylesheet" href="home_page.css" type="text/css"/>
  <!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
</head>
<body>
  <div id="header" style="display: block;">
    <nav class="header_links">
      <ul>
        <li>
          <a href="#title">Home</a>
        </li>
        <li>
          <a href="games">Sports</a>
        </li>
        <li>
          <a href="#about">About</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
        <li>
          <a href="posts">Post Image</a>
        </li>
        <li class="sign_in">
          <form action="login">
            <input type="submit" value="Log in">
          </form>
        </li>
        <li class="pass_field">
          <form action="action_page.php">
            Password:<br>
            <input type="password" name="lastname" value=""><br><br>
          </form>
        </li>
        <li class="user_field">
          <form action="action_page.php">
            User name:<br>
            <input type="text" name="firstname" value=""><br>
          </form>
        </li>
        <li class="sign_in">
          <form action="users/new">
            <input type="submit" value="Sign up">
          </form>
        </li>
      </ul>
    </nav>
  </div>
  <div id="title">
    <h1 class="title_head">Play-Wyn-Ready</h1>
    <div id="inro_para">
      <p class="intro">Create and Join Sports Pick-up Games with whoever, wherever!</p>
    </div>
  </div>
  <div id="logo">
    <p>
      <img src="https://mail.google.com/mail/u/0/?ui=2&ik=62ffe05547&view=att&th=15307fe37da3b469&attid=0.1&disp=safe&realattid=f_ikxp0pfl0&zw" alt="pwr_logo" class="logo_icon"/>
    </p>
  </div>
  <div id="sport">
    <h2 class="title_sport">Sport</h2>
    <div id="info">
      <p class="sport1">Create or Join a Pick-up Game</p>
    </div>
  </div>
  <div id="game"></div>
  <nav class="sport_link">
    <ul>
      <li class="game_space">
        <h3>
          <a href="games/1">Basketball</a>
        </h3>
        <p>
          <a href="games/1">
            <img src="http://dailyorange.com/resize/810/wp-content/uploads/2013/09/09172013_N_Ballin_Courtesy.jpg" alt="Basketball" class="sport_icon"/>
          </a>
        </p>
      </li>
      <li class="game_space2">
        <h3>
          <a href="games/2">Baseball</a>
        </h3>
        <p>
          <a href="games/2">
            <img src="http://chronicle.augusta.com/sites/default/files/editorial/images/spotted/57/579702.jpg" alt="Baseball" class="sport_icon"/>
          </a>
        </p>
      </li>
      <li class="game_space3">
        <h3>
          <a href="games/3">Soccer</a>
        </h3>
        <p>
          <a href="games/3">
            <img src="http://vicarious-traveller.com/wp-content/uploads/2010/08/soccer-feet-Robert-Brodey.jpg" alt="Soccer" class="sport_icon"/>
          </a>
        </p>
      </li>
      <li class="game_space4">
        <h3>
          <a href="games/4">Football</a>
        </h3>
        <p>
          <a href="games/4">
            <img src="https://www.thomas.edu/wp-content/uploads/flag-football.jpg" alt="Football" class="sport_icon"/>
          </a>
        </p>
      </li>
    </ul>
  </nav>
  <div class="clearfix"> </div>
    <nav class="sport_link2">
      <ul>
        <li class="game_space5">
          <h3>
            <a href="games/5">Lacrosse</a>
          </h3>
          <p>
            <a href="games/5">
              <img src="https://mail.google.com/mail/u/0/?ui=2&ik=62ffe05547&view=att&th=153018f3e7d0b64b&attid=0.1&disp=safe&realattid=1526747650452357120-local0&zw" alt="Lacrosee" class="sport_icon"/>
            </a>
          </p>
        </li>
        <li class="game_space6">
          <h3>
            <a href="games/6">Hockey</a>
          </h3>
          <p>
            <a href="games/6">
              <img src="https://teresasports.files.wordpress.com/2015/08/06-17-halfront-street-hockey-jh.jpg" alt="Hockey" class="sport_icon"/>
            </a>
          </p>
        </li>
        <li class="game_space7">
          <h3>
            <a href="games/7">Volleyball</a>
          </h3>
          <p>
            <a href="games/7">
              <img src="https://c2.staticflickr.com/6/5510/10803213026_27f625352b_c.jpg" alt="Volleyball" class="sport_icon"/>
            </a>
          </p>
        </li>
        <li class="game_space8">
          <h3>
            <a href="games/8">Beach Volleyball</a>
          </h3>
          <p>
            <a href="games/8">
              <img src="http://lfsmexpo.com/wp-content/uploads/2016/01/blog-vacation-workout-beach-volleyball.jpg" alt="Beach Volleyball" class="sport_icon"/>
            </a>
          </p>
        </li>
      </ul>
    </nav>
    <div class="clearfix"> </div>
      <nav class="sport_link3">
        <ul>
          <li class="game_space9">
            <h3>
              <a href="games/9">Golf</a>
            </h3>
            <p>
              <a href="games/9">
                <img src="http://cdn.rsvlts.com/wp-content/uploads/2013/08/hsbc-golf-championship-abu-dhabi2013.jpg" alt="Golf" class="sport_icon"/>
              </a>
            </p>
          </li>
          <li class="game_space10">
            <h3>
              <a href="games/10">Softball</a>
            </h3>
            <p>
              <a href="games/10">
                <img src="http://photos1.meetupstatic.com/photos/event/5/e/3/4/highres_12504116.jpeg" alt="Softball" class="sport_icon"/>
              </a>
            </p>
          </li>
          <li class="game_space11">
            <h3>
              <a href="games/11">Tennis</a>
            </h3>
            <p>
              <a href="games/11">
                <img src="http://www.seefeld.com/fotos/aktivitaeten-ganzjaehrig/tennis/sildes/tennis8.jpg" alt="Tennis" class="sport_icon"/>
              </a>
            </p>
          </li>
        </ul>
      </nav>
      <div class="clearfix"> </div>
        <nav class="sport_link4">
          <ul>
            <li class="game_space12">
              <h3>
                <a href="games">Add Your Own</a>
              </h3>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div id="about">
      <h2 class="about_me">About</h2>
      <div id="me_para">
        <p class="me">Created by Juan & Ryan</p>
      </div>
    </div>
    <div id="contact">
      <h2 class="contact_info">Contact</h2>
      <div id="contact_link">
        <nav class="contacts">
          <ul>
            <li>
              <img src="https://pbs.twimg.com/profile_images/614583061448036352/CBpFkPaz.png" alt="linkedin icon" class="icon"/>
              <a href="" target="_blank"></a>
            </li>
            <li>
              <img src="https://lh6.ggpht.com/8-N_qLXgV-eNDQINqTR-Pzu5Y8DuH0Xjz53zoWq_IcBNpcxDL_gK4uS_MvXH00yN6nd4=w300" alt="gmail icon" class="icon"/>
              <a href="" target="_blank"></a>
            </li>
            <li>
              <img src="http://memeburn.com/wp-content/uploads/2012/07/Twitter-logo-blue-on-grey1.jpg" alt="Twitter icon" class="icon"/>
              <a href="" target="_blank"></a>
            </li>
            <li>
              <img src="https://www.thoughtworks.com/imgs/icons/social/github.png" alt="git hub icon" class="icon"/>
              <a href="" target="_blank"></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </body>

  </html>
