<h1>Chat</h1>

<table class="table table-bordered">
  <thead class="table_h">
    <tr>
      <th>Comment</th>
      <th>Game</th>
    </tr>
  </thead>

  <tbody class="table_b">
    <% @chats.each do |chat| %>
      <tr>
        <% if chat.game_id == params[:game_id].to_i %>
        <td><%= chat.comment %></td>
        <td><%= chat.game.sport %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New chat', new_game_chat_path %>
|
<%= link_to 'Back to Games', games_path %>
