<p id="notice"><%= notice %></p>

<h1>List of Popular Games</h1>
<h6>Interested in another game, add it at the end of the page.</h6>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Sport</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= link_to game.sport, game_path(game) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
