.post_header a{
  margin-left: 13%;
  color: #fff;
  font-weight: 300;
  font-style: italic;
}

#posts_page {
  background-color: #00bfff;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  border-radius: 20px;
  width: 75%;
  margin-left: 12%;
}

.navbar-brand {
  color: #125688;
}

.nav_links{
  padding: 1%;
  display: inline;
  float: right;
}


.navbar-default {
  border-radius: 20px;
  background-color: #fff;
  height: 54px;
}
.navbar-nav li a {
  color: #125688;
}


.navbar-container {
  width: 100%;
  margin: 0 auto;
}

.posts-wrapper {
  // position: relative;
  // left: 12vw;
  // border-radius: 40px;
  padding-top: 40px;
  margin: 0 auto;
  max-width: 642px;
  width: 100%;
}

.post {
  background-color: #F2B268;
  border-color: #edeeee;
  border-style: solid;
  border-radius: 20px;
  border-width: 1px;
  margin-bottom: 60px;
}

.post-head {
  height: 64px;
  padding: 14px 20px;
  color: #125688;
  font-size: 15px;
  line-height: 18px;
}
.thumbnail {}
.name {
  display: block;
}


.image {
  border-bottom: 1px solid #eeefef;
  border-top: 1px solid #eeefef;
}

.caption {
  padding: 24px 24px;
  font-size: 15px;
  line-height: 18px;
  border-bottom: 2px solid black;

}

.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 20px;
}

.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}

.img_head{
  font-size: 15px;
}

.post_caption{
}
