// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  text-align: center;
}

// .signup_form form{

// .signup form {
//   background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
//   background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
//   background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
//   margin: auto;
//   position: relative;
//   width: 550px;
//   height: 450px;
//   font-family: Tahoma, Geneva, sans-serif;
//   font-size: 14px;
//   font-style: italic;
//   line-height: 24px;
//   font-weight: bold;
//   color: #09C;
//   text-decoration: none;
//   border-radius: 10px;
//   padding: 40px;
//   border: 1px solid #999;
//   border: inset 1px solid #333;
//   -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
//   -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
//   box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
// }

.sign_up_input {
  width: 375px;
  display: block;
  // border: 1px solid #999;
  height: 25px;

//
// }

.sign_up_focus {
  width: 300px;
  display: block;
  // border: 1px solid #999;
  height: 25px;
  margin-left: 42%;
  // -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  // -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  // box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  padding-top: 10%;
  margin-left: 40%;
  // margin-right: auto;
}

// .text-center {
//   margin-left: auto;
// }

textarea#feedback {
  width: 375px;
  height: 150px;
  display: block;
}

.cont input.button:hover {
  background: #fff;
  color: #09C;
.bottom_up a{
  color: white;
  text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
  padding-: 25%;
}

// textarea#feedback {
//   width: 375px;
//   height: 150px;
//   display: block;
// }
//
// .cont button {
//   width: 100px;
//   position: absolute;
//   right: 20px;
//   bottom: 20px;
//   background: #09C;
//   color: #fff;
//   font-family: Tahoma, Geneva, sans-serif;
//   height: 30px;
//   border-radius: 15px;
//   border: 1p solid #999;
//   padding-top: 2%;
//   text-align: center;
// }
//
// .cont input.button:hover {
//   background: #fff;
//   color: #09C;
// }
//
// .cont textarea:focus, input:focus {
//   border: 1px solid #09C;
// }
